html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.App {
  text-align: center;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bde4ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dice {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.container {
  width: 750px;
}

.side {
  position: absolute;
  width: 120px;
  height: 120px;
}

.side:nth-child(1) {
  transform: translateZ(3.1em);
}

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}

.side.one {
  background-image: url("/dice-sides/one.svg");
}
.side.two {
  background-image: url("/dice-sides/two.svg");
}
.side.three {
  background-image: url("/dice-sides/three.svg");
}
.side.four {
  background-image: url("/dice-sides/four.svg");
}
.side.five {
  background-image: url("/dice-sides/five.svg");
}
.side.six {
  background-image: url("/dice-sides/six.svg");
}

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}
.show-2 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}
.show-3 {
  transform: rotateY(810deg) rotateZ(720deg);
}
.show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}
.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg);
}
.show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.outline {
  outline: 10px solid rgb(42, 46, 70);
  background-color: rgb(42, 46, 70);
  border-radius: 10px;
}
.outline.selected {
  outline: 10px solid red;
  background-color: red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
